@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  color: theme('colors.ash.DEFAULT');
  font-family: Moret, serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0;
}

h2 {
  color: theme('colors.ash.DEFAULT');
  font-family: Moret, serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0;
}

h3 {
  color: theme('colors.ash.DEFAULT');
  font-family: Moret, serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
}

h4 {
  color: theme('colors.ash.DEFAULT');
  font-family: Filson-Pro, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
}

h5 {
  color: theme('colors.ash.DEFAULT');
  font-family: Filson-Pro, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

h6 {
  color: theme('colors.ash.DEFAULT');
  font-family: Filson-Pro, sans-serif;
  font-size: 18px;
  font-weight: 425;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

a {
  color: theme('colors.ribbon');
  font-family: Filson-Pro, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
}

p {
  color: theme('colors.ash.DEFAULT');

  @apply body-medium;
}

// Shadcn/ui
@layer base {
  :root {
    // NOTE: ALL COLORS ARE HSL
    // color palette, not shadcn/ui
    --wool: 43 100% 95%;
    --wool-dark: 43 47% 97%;
    --wool-light: 43 100% 99%;
    --ash: 330 6% 13%;
    --ash-medium: 0 0% 45%;
    --ash-light: 0 0% 65%;
    --ash-lighter: 0 0% 91%;
    --ash-lightest: 0 0% 98%;
    --gold: 40 86% 53%;
    --beryl: 166 60% 53%;
    --mosaic: 195 100% 57%;
    --heart: 324 56% 42%;
    --ribbon: 195 100% 37%;
    --danger: 0 78% 40%;
    --junglegreen: 166 68% 38%;

    // shadcn/ui theme colors
    --background: 0 0% 100%;
    --foreground: var(--ash);
    --muted: var(--ash-lighter);
    --muted-foreground: var(--ash-medium);
    --popover: 0 0% 100%;
    --popover-foreground: var(--ash);
    --border: var(--ash-lighter);
    --input: var(--ash-light);
    --card: 0 0% 100%;
    --card-foreground: var(--ash);
    --primary: var(--heart);
    --primary-foreground: 0 0% 100%; // white
    --secondary: var(--ash-lighter);
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: var(--ash);
    --destructive: var(--danger);
    --destructive-foreground: 0 0% 100%; // white
    --success: var(--beryl);
    --success-foreground: 0 0% 0%; // white
    --ring: var(--heart);
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;

    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

@layer utilities {
  .body-large {
    font-family: Filson-Pro, sans-serif;
    font-size: 18px;
    font-weight: 425;
    line-height: 24px;
    letter-spacing: 0;
  }

  .body-medium {
    @apply body-medium-base;

    font-weight: 300;
    line-height: 16px;
  }

  .body-medium-base {
    font-family: Filson-Pro, sans-serif;
    font-size: 16px;
    letter-spacing: 0;
  }

  .body-small {
    font-family: Filson-Pro, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0;
  }

  .body-x-small {
    font-family: Filson-Pro, sans-serif;
    font-size: 12px;
    font-weight: 425;
    line-height: 16px;
    letter-spacing: 0;
  }

  .caption-1 {
    @apply caption-1-base;

    font-weight: 800;
  }

  .caption-1-base {
    font-family: Filson-Pro, sans-serif;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  .caption-2 {
    font-family: Filson-Pro, sans-serif;
    font-size: 12px;
    font-weight: 425;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}
