@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  color: theme('colors.ash.DEFAULT');
  font-family: Moret, serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0;
  text-align: left;
}

h2 {
  color: theme('colors.ash.DEFAULT');
  font-family: Moret, serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0;
  text-align: left;
}

h3 {
  color: theme('colors.ash.DEFAULT');
  font-family: Moret, serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
}

h4 {
  color: theme('colors.ash.DEFAULT');
  font-family: Filson-Pro, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
}

h5 {
  color: theme('colors.ash.DEFAULT');
  font-family: Filson-Pro, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
}

h6 {
  color: theme('colors.ash.DEFAULT');
  font-family: Filson-Pro, sans-serif;
  font-size: 18px;
  font-weight: 425;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
}

a {
  color: theme('colors.ribbon');
  font-family: Filson-Pro, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

p {
  color: theme('colors.ash.DEFAULT');
}

.body-large {
  font-family: Filson-Pro, sans-serif;
  font-size: 18px;
  font-weight: 425;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.body-medium {
  font-family: Filson-Pro, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
}

.body-small {
  font-family: Filson-Pro, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}

.body-x-small {
  font-family: Filson-Pro, sans-serif;
  font-size: 12px;
  font-weight: 425;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
}

.caption-1 {
  font-family: Filson-Pro, sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
}

.caption-2 {
  font-family: Filson-Pro, sans-serif;
  font-size: 12px;
  font-weight: 425;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
}

// ShadCN
@layer base {
  :root {
    --border: theme('colors.border');
    --input: theme('colors.input');
    --ring: theme('colors.ring');
    --background: theme('colors.background');
    --foreground: theme('colors.foreground');
    --primary: theme('colors.primary');
    --primary-foreground: theme('colors.primaryForeground');
    --secondary: theme('colors.secondary');
    --secondary-foreground: theme('colors.secondaryForeground');
    --destructive: theme('colors.destructive.DEFAULT');
    --destructive-foreground: theme('colors.destructive.foreground');
    --muted: theme('colors.muted.DEFAULT');
    --muted-foreground: theme('colors.muted.foreground');
    --accent: theme('colors.accent.DEFAULT');
    --accent-foreground: theme('colors.accent.foreground');
    --popover: theme('colors.popover.DEFAULT');
    --popover-foreground: theme('colors.popover.foreground');
    --card: theme('colors.card.DEFAULT');
    --card-foreground: theme('colors.card.foreground');
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;

    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
